.sidenav {
    background-color: rgb(32,178,170);
    width: 150px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFF;
}